.interface {
  text-align: center;
}

.registerUserForm{
  margin-top: 15vh;
}

.regFormField{
  margin-top: 2vh;
  font-size: 2vw;
  border-radius: 4px;
  border: 1px solid black;
  font-family: "Verdana", sans-serif;
}

.submitButton{
  margin-top: 2vh;
  margin-bottom: 3vh;
  font-size: 2em;
  border-radius: 4px;
  border: 1px solid black;
  font-family: "Verdana", sans-serif;
  background-color: #429346; 
  color: white;
  cursor: pointer;
}